* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    font-size: 62.5%;
    /* CSS VARIABLES */
    --normal-weight: 400;
    --bold-weight: 700;
    --main-background: #bbb9b9;

}

body {
    /* Box model */
    min-width: 320px;
    /* Typography */
    font-family: 'Play', sans-serif;
    font-size: 1.6rem;
    font-weight: var(--normal-weight);
}

/* ++++ HEADER ++++ */
header {
    /* Box model */
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* Visualization */
    background-color: #717273;
}

.pokedex-brand {
    display: flex;
    align-items: center;
}

.pokedex-brand span {
    margin-left: 4px;
    font-weight: var(--bold-weight);
}

.logo {
    /* Box model */
    width: 24px;
    height: 24px;
    /* Others */
    background-image: url('./assets/img/pokemon-ball.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* ++++ MAIN ++++ */
.pokemon-main {
    /* Box model */
    display: grid;
    justify-content: center;
    /* Visualization */
    background-color: var(--main-background);
}

.pokemon-container {
    margin: 20px auto;
    display: grid;
    grid-template-rows: 40px 160px 280px;
}

.pokemon__title {
    /* Box model */
    width: 256px;
    height: 40px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    /* Visualization */
    background-color: white;
    border-radius: 8px;
}

.pokemon__type-icon {
    /* Box model */
    width: 24px;
    height: 24px;
    /* Others */
    background-image: url('./assets/img/fire.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.pokemon__name {
    /* Box model */
    margin-left: 8px;
    /* Typography */
    font-size: 2.0rem;
    font-weight: var(--bold-weight);
    line-height: 2.4rem;
}

.pokemon__image {
    /* Position */
    position: relative;
    z-index: 1;
    /* Box model */
    width: 240px;
    height: 240px;
    justify-self: center;
    /* Others */
    background-image: url('./assets/img/006-charizard.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.pokemon__ability {
    /* Box model */
    width: 260px;
    height: fit-content;
    padding: 40px 32px 20px;
    /* Visualtization */
    background-color: white;
    border-radius: 8px;
}

.attribute {
    margin: 16px auto;
    display: flex;
    justify-content: space-between;
}

.attribute__title {
    color: var(--main-background);
}

/* ++++ FOOTER ++++ */

footer {
    /* Box model */
    height: calc(2rem + 176px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* Visualization */
    background-color: white;
}

.footer__title {
    margin: 12px auto 12px;
    line-height: 2.0rem;
}
.pokemon-grid {
    /* Box model */
    width: 192px;
    margin: 0 auto 0;
    flex-flow: column wrap;
}

.pokemon-character {
    /* Box model */
    width: 52px;
    height: 52px;
    margin: 0 20px 12px;
    display: inline-block;
    /* Visualization */
    border-radius: 8px;
    background-color: var(--main-background);
}

.pokemon-character__figure {
    /* Box model */
    width: 100%;
    height: 100%;
    justify-self: center;
    /* Others */
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.pokemon-character__figure--url-1 {
    background-image: url('https://assets.pokemon.com/assets/cms2/img/pokedex/full/001.png');
}

.pokemon-character__figure--url-2 {
    background-image: url('https://assets.pokemon.com/assets/cms2/img/pokedex/full/004.png');
}

.pokemon-character__figure--url-3 {
    background-image: url('https://assets.pokemon.com/assets/cms2/img/pokedex/full/007.png');
}

.pokemon-character__figure--url-4 {
    background-image: url('https://assets.pokemon.com/assets/cms2/img/pokedex/full/025.png');
}