* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    font-size: 62.5%;
    /* CSS VARIABLES */
    --normal-weight: 400;
    --bold-weight: 700;
    --main-background: #bbb9b9;

}

body {
    /* Box model */
    min-width: 320px;
    /* Typography */
    font-family: 'Play', sans-serif;
    font-size: 1.6rem;
    font-weight: var(--normal-weight);
}

/* ++++ HEADER ++++ */
header {
    /* Box model */
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* Visualization */
    background-color: #717273;
}

.pokedex-brand {
    display: flex;
    align-items: center;
}

.pokedex-brand span {
    margin-left: 4px;
    font-weight: var(--bold-weight);
}

.logo {
    /* Box model */
    width: 24px;
    height: 24px;
    /* Others */
    background-image: url('./assets/img/pokemon-ball.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* ++++ MAIN ++++ */
.pokemon-main {
    /* Box model */
    display: grid;
    justify-content: center;
    /* Visualization */
    background-color: var(--main-background);
}

.pokemon-container {
    margin: 20px auto;
    display: grid;
    grid-template-rows: 40px 160px 280px;
}

.pokemon__title {
    /* Box model */
    width: 256px;
    height: 40px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    /* Visualization */
    background-color: white;
    border-radius: 8px;
}

.pokemon__type-icon {
    /* Box model */
    width: 24px;
    height: 24px;
    /* Others */
    background-image: url('./assets/img/fire.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.pokemon__name {
    /* Box model */
    margin-left: 8px;
    /* Typography */
    font-size: 2.0rem;
    font-weight: var(--bold-weight);
    line-height: 2.4rem;
}

.pokemon__image {
    /* Position */
    position: relative;
    z-index: 1;
    /* Box model */
    width: 240px;
    height: 240px;
    justify-self: center;
    /* Others */
    background-image: url('./assets/img/006-charizard.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.pokemon__ability {
    /* Box model */
    width: 260px;
    height: fit-content;
    padding: 40px 32px 20px;
    /* Visualtization */
    background-color: white;
    border-radius: 8px;
}

.attribute {
    margin: 16px auto;
    display: flex;
    justify-content: space-between;
}

.attribute__title {
    color: var(--main-background);
}

/* ++++ FOOTER ++++ */

footer {
    /* Box model */
    height: 184px;
    display: grid;
    grid-template-rows: repeat(2, max-content);
    row-gap: 12px;
    place-content: center;
    /* Visualization */
    background-color: white;
}

.footer__title {
    text-align: center;
    line-height: 2.0rem;
}

.pokemons-grid {
    /* Box model */
    display: grid;
    grid-template: repeat(2, max-content) / repeat(2, max-content);
    column-gap: 40px;
    row-gap: 20px;
    place-items: center;
}

.pokemon-character {
    /* Box model */
    width: 52px;
    height: 52px;
    display: inline-block;
    /* Visualization */
    border-radius: 8px;
    background-color: var(--main-background);
}

.pokemon-character__figure {
    /* Box model */
    width: 100%;
    height: 100%;
    justify-self: center;
    /* Others */
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.pokemon-character__figure--url-1 {
    background-image: url('./assets/img/006-charizard.png');
}

.pokemon-character__figure--url-2 {
    background-image: url('./assets/img/006-charizard.png');
}

.pokemon-character__figure--url-3 {
    background-image: url('./assets/img/006-charizard.png');
}

.pokemon-character__figure--url-4 {
    background-image: url('./assets/img/006-charizard.png');
}

@media (min-width: 620px) {
    .pokemon-main {
        height: calc(100vh - 40px - 100px);
    }

    .pokemon-container {
        grid-template: 40px 280px / repeat(2, max-content);
        column-gap: 20px;
    }

    .pokemon__title {
        width: 45vw;
        max-width: 400px;
    }

    .pokemon__image {
        grid-row: 2 / 3;
        width: 45vw;
        min-width: 300px;
        height: 35vw;
        min-height: 300px;
        max-height: 400px;
    }

    .pokemon__ability {
        padding-bottom: 40px;
        height: calc(35vw + 40px);
        min-height: 340px;
        display: grid;
        grid-template: repeat(3, 1fr) / 1fr 1fr;
        row-gap: 20px;
    }

    .attribute {
        flex-direction: column;
        align-items: center;
        row-gap: 4px;
    }

    footer {
        height: 100px;
        grid-template-columns: repeat(2, max-content);
        grid-template-rows: none;
        column-gap: 40px;
        align-items: center;
    }
    
    .pokemons-grid {
        display: flex;
    }
}